
.zlab_caption {
    /* 40 is min, 50 is max */
    font-size: calc(40px + (50 - 40) * ((100vw - 400px) / (800 - 400)));
    margin-top: 50px;
    margin-bottom: 30px;
}

/* remove the space between the links */
a.mfn-link-1:before {
	margin-right: 0px;            /* was 10px */
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px)
}
a.mfn-link-1:after {
	margin-left: 0px;             /* was 10px */
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px)
}

.project-text {
  font-size: 18px;
  line-height: 1.7;
}

.project-title {
  font-size: 24px;
  margin-bottom: 60px;
  text-align: center;
}

.section-title {
  font-size: 24px;   /* same size increase */
  margin-bottom: 20px;
  text-align: left;   /* stays left */
}
